/* 
Rachel Children - This is my CSS code to link with my HTML for my Cats website. 09/05/23
*/


/* h1 {
    color: antiquewhite
}

p {
    color: antiquewhite
}

p a {
    color: antiquewhite
} */

* {
    color: rgba(92, 0, 102,0.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1 {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;

}

html.body {
    height: 100%;
    margin: 0px;
    background-color: #b478ba;
}

html {
    background: url(kitten-floral-crown.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.intro {
    width: 100%;
    /* This is a relative value. 
    width: 150px; would be an absolute value*/
    text-align: center;
    font-size: larger;
}

input[type="button"] {
    color: rgba(92, 0, 102,0.8);
    padding: 10px;
}

.dropdown {
    color: rgba(92, 0, 102,0.8);
    padding: 10px;
}

.intro a {
    color:rgba(92, 0, 102,0.8)
}

.intro a:hover {
    color: rgba(92, 0, 102,0.8)
}

nav {
    display: flex;
    gap: 0.5rem;
}

nav a {
    flex: 1;
    background-color: transparent;
    color: #b478ba;
    font-weight: bold;
    border: 0;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

nav a:hover,
nav a:focus {
    background-color: transparent;
    color: #b478ba;
    border: 0;
    font-size: 2em;
    font-weight: bolder;
}