/* 
Rachel Children - This is my CSS code to link with my HTML for my Cats website. 09/05/23
*/

body {
    background-color: rgb(220, 193, 229);
}

/* h1 {
    color: antiquewhite
}

p {
    color: antiquewhite
}

p a {
    color: antiquewhite
} */

h1 {
    color: antiquewhite;
    width: 100%; 
    text-align: center;
    font-size: 3em;
    font-weight: bolder;

}

.intro {
    color: antiquewhite;
    width: 100%; /* This is a relative value. 
    width: 150px; would be an absolute value*/
    text-align: center;
    font-size: larger;
}
input[type="button"] {
    color: rgb(190, 157, 221);
    padding: 10px;
}

.dropdown {
    color: rgb(190, 157, 221);
    padding: 10px;
}

.intro a {
    color: antiquewhite
}

.intro a:hover {
    color: rgb(248, 245, 250)
}

nav {
    display: flex;
    gap: 0.5rem;
  }
  
 nav a {
    flex: 1;
    background-color: transparent;
    color: #b478ba;
    font-weight: bold;
    border: 0;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
  }
  
  nav a:hover,
 nav  a:focus {
    background-color: transparent;
    color: #b478ba;
    border: 0;
    font-size: 2em;
    font-weight: bolder;
  }

